// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$body-font-family: 'Source Sans Pro', Arial, sans-serif;
$heading-font-family: 'Source Sans Pro', Arial, sans-serif;
$headings: (
	'h1': (
		'font-family': $body-font-family,
		'size': 3.2rem, 
		'line-height': 3.2rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
	'h2': (
		'font-family': $body-font-family,
		'size': 2rem, 
		'line-height': 2.5rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
	'h3': (
		'font-family': $body-font-family,
		'size': 1.5rem, 
		'line-height': 2rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
	'h4': (
		'font-family': $body-font-family,
		'size': 1.25rem, 
		'line-height': 1.75rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
	'h5': (
		'font-family': $body-font-family,
		'size': 1.125rem, 
		'line-height': 1.625rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
	'h6': (
		'font-family': $body-font-family,
		'size': 1rem, 
		'line-height': 1.5rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
	'subtitle-1': ( 
		'font-family': $heading-font-family,
		'size': 1.25rem, 
		'line-height': 1.75rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
	'subtitle-2': ( 
		'font-family': $heading-font-family,
		'size': 1.125rem, 
		'line-height': 1.625rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
	'body-1': ( 
		'font-family': $heading-font-family,
		'size': 1rem, 
		'line-height': 1.5rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
	'body-2': ( 
		'font-family': $heading-font-family,
		'size': 0.9375rem, 
		'line-height': 1.4375rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
    'caption': ( 
		'font-family': $heading-font-family,
		'size': 0.875rem, 
		'line-height': 1.325rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
    'button': (
		'font-family': $heading-font-family,
		'size': 0.75rem, 
		'line-height': 1.2rem,
		'weight': 400,
		'letter-spacing': 0em,
		'text-transform': false
	),
    'overline': (
		'font-family': $heading-font-family,
		'size': 0.6875rem, 
		'line-height': 1.1375rem,
		'weight': 400,
		'letter-spacing': 0.05em,
		'text-transform': uppercase
	),
);